# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# TypeScript cache
*.tsbuildinfo

# Parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
public

# vuepress build output
.vuepress/dist

# Hugo files
/public/

# Temporary folders
temp/
tmp/

# Build output
dist/
build/

# Stylelint cache
.stylelintcache

# Python virtualenv
venv/
